{% extends "network/layout.html" %}
{% load static %}

{% block script %}

<script>
    const urlParts = window.location.pathname.split('/');
    const user_id = parseInt(urlParts[urlParts.length - 1]);
</script>
<script type='module' src="{% static 'network/profile.js' %}"></script>

{% endblock %}

{% block body %}

<div class="col mt-2">
    <div class="row mt-2">
        <h2 class="col text-left font-weight-bold">{{profile.username}} </h4>

            <div class="col user-stats text-center mt-2">
                <span class="stat-label">Following:</span>
                <span class="stat-count">{{ profile.following.count }}</span>
            </div>
            <div class="col user-stats text-center mt-2">
                <span class="stat-label">Followers:</span>
                <span id="followers_count" class="stat-count">{{ profile.followers.count }}</span>
            </div>

            {% if request.user.is_authenticated and request.user != profile %}
            <div class="col text-capitalize text-right">
                <button id="follow-btn" href="#" type="submit" name="edit" class="btn btn-primary mt-1"
                    style="width: 100px;height: 43px;visibility: hidden;"></button>
            </div>
            {% endif %}

    </div>
</div>
<div class="col mt-2" id="user_posts_container"></div>

{% endblock %}