{% extends "network/layout.html" %}

{% block body %}
    <div class="col">

        <!-- name, followers,posts rev chrono, follow btn unfollow btn, -->

    <div class="col mt-2 border border-secondary">
        <div class="row mt-2">
            <h4 class="col text-left font-weight-bold  ">{{post.author.username}} </h4>
            <div class="col text-right">{{post.date_created}} </div>
        </div>
        <div class="row mt-2">
            <div class="col text-capitalize">
                {% if request.user == post.author %}
                <a href="#" type="submit" name="edit" class="d-block">Edit</a>
                {% endif %}
                {{post.content}} 
            </div>
        </div>
        <div class="row my-2">
            <div class="col">{{post.get_likes_count}} </div>
        </div>
    </div>
    </div>
{% endblock %}