{% extends "auctions/layout.html" %}

{% block title %} Create listing {% endblock %}


{% block body %}

    <h2>Create listing</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
    
    <form action="{% url 'create_listing' %}" method="post">
        
        {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                    <b>{{ field }}</b>: {{ error }} <br>
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %}

        {% csrf_token %}
        {{ form }}

        <input class="btn btn-primary" type="submit" value="Add listing">
    </form>


{% endblock %}