{% extends "auctions/layout.html" %}

{% block body %}
<h2 class="text-nowrap">Active Listings</h2>

{% for listing in listings %}
<div class="listing_container row">
    <div class="col-sm-4">
        <h3>{{ listing.title }}</h3>
        <p>{{ listing.description }}</p>
        <div class="listing_price text-danger font-weight-bold text-nowrap">
            Current Max Bid: {{ listing.current_max_bid }}
        </div>
    </div>

    {% if listing.img_url %}
    <div class="listing_img_container col-sm-4 text-sm-right"> <!-- col-12 for mobile -->
        <img src="{{ listing.img_url }}" class="listing_image "> <!-- img-fluid -->
    </div>
    {% endif %}
</div>
{% empty %}
<p class="text-muted">No listings</p>
{% endfor %}


{% endblock %}