{% extends "auctions/layout.html" %}
{% load static %}

{% block head %}
<link href="{% static 'auctions/styles_index.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
<h2 class="text-nowrap">Active Listings</h2>

{% for auction in auctions %}
<a href="{% url 'auction' auction.pk %}" style="text-decoration: none;" class="auction_link">
<div class="auction_container row">
    <div class="col-sm-4">
        <h3>{{ auction.title }}</h3>
        <p>{{ auction.description }}</p>
        <div class="auction_price text-danger font-weight-bold text-nowrap">
            Current price: {{ auction.current_max_bid }}
        </div>
    </div>

    {% if auction.img_url %}
    <div class="auction_img_container col-sm-4 text-sm-end"> <!-- col-12 for mobile -->
        <img src="{{ auction.img_url }}" class="auction_image "> <!-- img-fluid -->
    </div>
    {% endif %}
</div>
</a>
{% empty %}
<p class="text-muted">No auctions</p>
{% endfor %}


{% endblock %}