html{
    font-size: large;
}
/*body {
    background-color: #3b3b3b !important;
    color: white;
}*/

/* User stats styling */
.user-stats {
    font-size: 1.1rem;
    font-weight: 500;
    color: #555;
}

.stat-label {
    font-weight: 600;
    color: #333;
}

.stat-count {
    font-weight: bold;
    color: #007bff; /* Bootstrap primary color */
    margin-left: 4px;

}
